  .img-profile {
    width: 112px;
    height: 112px;
  }

  .swicth-button {
    opacity: 0.8;
  }

  .Profile-header span {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: var(--white);
  }


  /* * Lista de Links */

  .links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    list-style: none;
    margin-top: 24px;
  }

  .link-item {
    width: 540px;
    height: 56px;

    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
    background: var(--blue);
  }

  .link-item a {
    color: var(--white);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    padding: 24px 16px;
  }

  .link-item:hover {
    opacity: 0.6;
    transition: ease-in-out 0.3s;
  }

  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    list-style: none;

    gap: 16px;
    margin-top: 24px;
  }

  footer{
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;

    text-align: center;
    margin: 24px auto 24px;
    
    color: var(--white);
  }


  /* * Media Queries - Tablet */

  @media screen and (max-width: 900px) {
    
  .link-item {
      width: 460px;
    }

  .Profile-header {
    gap: 10px;
  };
  }

  /* * Media Queries - Smartphone */

  @media screen and (max-width: 460px) {
    .link-item {
    width: 226px;
  }
  }