  .App {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

   /* * Media Queries - Tablet */

  @media screen and (min-width: 900px) {
  .App {
      transform: scale(1);
      min-height: 100vh;
  }
  }

  /* * Media Queries - Smartphone */

  @media screen and (min-width: 460px) {

  .App {
      transform: scale(1);
      min-height: 100vh;
  }
  }