:root {
  --font-family: "Roboto", sans-serif;

  --orange: #F22F1D;
  --purple: #140728;
  --white: #E1E1E1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* !Adicionar background */
body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
}