:root {
  --font-family: "Roboto", sans-serif;

  --orange: #ff6640;
  --blue: #232287;
  --white: #E1E1E1;

  --bg-variant01: linear-gradient(180deg, #ff6640 30%, #232287 100%);
  --bg-variant02: linear-gradient(180deg, #232287 30%,#ff6640 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;

  background: var(--bg-variant01);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  /* * Media Queries - Tablet */

  @media screen and (min-width: 900px) {
    body {
      min-height: 100vh;
    }
  }

  /* * Media Queries - Smartphone */

  @media screen and (min-width: 460px) {
    body {
      min-height: 100vh;
    }
  }