:root {
  --font-family: "Roboto", sans-serif;

  --orange: #F22F1D;
  --purple: #140728;
  --white: #E1E1E1;

  --bg-variant01: url('./assets/backgroundv01.png');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;

  background: var(--bg-variant01) no-repeat center;
  background-size: cover;
  min-height: 100vh;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

